.page-banner {
    
    background-position: 50% 0%;
}

.latest-blog img{
    width:100%;
}

.latest-blog .read-more {
    padding: 5px 30px;
    background-color: var(--red);
    color: white;
    text-decoration: none;
}

.blog-title{
    position: relative;
    font-size: 23px;
    padding: 15px 0;
}
.blog-title::after{
    content:'';
    width:70px;
    height:3px;
    border-radius:6px;
    background-color: var(--red);
    position: absolute;
    bottom:-5px;
    left:0;
}