.page-banner {
    background-image: url('../../../../../uploads/2020/11/josh_activities_banner-768x256.jpg');
    background-position: 50% 50%;
}

.heading {
    padding: 20px;
    text-align: justify;
}

.school-names {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    flex-wrap: wrap;
}

.school-names>div {
    flex-basis: 46%;
    background-color: var(--red);
    padding: 20px;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
    margin: 4px 0;
    height: 136px;
    border-radius: 5px;
}

.past-activities {
    background-color: #F2F2F7;
}

.past-info {
    padding: 20px;
}

.past-activities ul {
    padding-left: 15px;
}

.past-activities-bg {
    background-image: url('../../../../../uploads/2020/11/josh_activities_bg1.jpg');
    background-position: 50% 0;
    background-size: cover;
    height: 70vh;
}

.activity-heading {
    margin: 35px 0;
    text-align: center;
    font-size: 47px;
    font-family: "PT Serif";
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .page-banner {
        background-position: 0% 50%;
    }
    .heading {
        padding: 30px 100px 30px 100px;
        text-align-last: center;
    }
    .school-names>div {
        flex-basis: 32.5%;
        margin: 4px 0;
        height: 100px;
    }
    .school-names {
        width: 90%;
        margin-bottom: 100px;
    }
    .past-info {
        padding: 50px;
    }
    .past-activities-bg {
        height: auto;
    }
    .activity-preview {
        margin: 50px auto;
        width: 80%;
    }
    .activity-heading {
        text-align: center;
        font-size: 47px;
        font-family: "PT Serif Bold";
        font-weight: 700;
    }
}

.container {
    margin: 60px 0 100px;
    display: grid;
    place-items: center;
}

.wrapper {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    transition: 0.5s;
}

.wrapper .image {
    width: 180px;
    height: 180px;
    display: block;
}

.open-image {
    width: 180px;
    height: 180px;
    display: block;
    cursor: pointer;
    position: relative;
    margin:50px auto 0;
}

.open-image::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px #00000066 inset;
    pointer-events: none;
}

.open-image::after {
    --r: 10%;
    content: '';
    display: block;
    position: absolute;
    top: calc(-1 * var(--r));
    left: calc(-1 * var(--r));
    width: calc(100% + calc(var(--r) * 2));
    height: calc(100% + calc(var(--r) * 2));
    /* background-color: #00000066; */
    border: 1.5px solid var(--red);
    pointer-events: none;
}

.open-image img {
    object-fit: cover;
    object-position: 50% 0px;
}

.open-modal {
    padding: 10px 30px;
    background: #fff;
    border: 1px solid;
    transition: 0.3s;
}

.open-modal:hover,
.open-modal:focus {
    color: white;
    background-color: #222;
}