.page-banner{            
    background-image: url('../../../../uploads/2020/11/banner-josh-founders-768x256.jpg');
    background-position:0% 50%;
}

.profile-cards{
    width:80%;
    margin:0 auto;
    background-color: #faf9f9;
    padding:20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #00000044;
}
.card-one{
    margin-top:0px !important;
    margin-bottom:50px !important;
}
.card-two{
    margin-top:0px !important;
    margin-bottom:100px !important;
}
.profile-cards *{
    font-family: "PT Sans", sans-serif !important;
}
.profile-photo{
    border-radius: 10px;
    /* filter: brightness(130%); */
}
.profile-info-container{
    width:100%;
}
.profile-cards .nav-item{
    margin:0;    
    width: 100%;
    max-width:50%;
    text-align:center;
}

.profile-info .nav-link{
    text-align:center;
    color:black;
    border-radius:0;  
    margin:0;      
    border-bottom: 1px solid #000;
}
.profile-info .nav-link.active{
    color:black;
    background-color: transparent;
    height:98%;
    border-bottom: 3px solid red;
}

.tab-content u{
    font-size: 19px !important;
}
.tab-content .tab-pane:first-child p{
    font-size: 17px !important;    
}
.card-two .tab-content .tab-pane:first-child p{
    font-size: 17px !important;
    margin:0;
    margin-bottom:15px;
    line-height: 1em;
}
.tab-content p .red-a{
    font-size: 17px !important;
    line-height: 1em;
}


@media screen and (min-width:1000px){
    .profile-cards .nav-item{    
        max-width:25%;
    }
}
@media screen and (min-width:1400px){
    .profile-cards{
        width:60%;
    }
}
@media screen and (min-width:2000px){
    .profile-cards{
        width:45%;
    }
}
@media screen and (max-width:600px){
    .card-one{
        margin-top:50px !important;
        margin-bottom:50px !important;
    }
    .card-two{
    margin-top:0px !important;
    margin-bottom:50px !important;
}
}
@media screen and (max-width:426px){
    .profile-photo{
        width:100%;
    }
    .profile-cards{
        width:90%;
    }
}